/* футер */


.social-icons {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-img {
  border-radius: 10%;
  width: 54px;
  margin: 0.5em;
}