p {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(201, 162, 115);
}

/* navbar */
.navbar-brand.n-b {
    color: rgb(201, 162, 115);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(189, 47, 47);
}

.navbar-nav .nav-link.active {
    color: rgb(201, 162, 115);
}

.navbar-toggler {
    background-color: rgb(175, 170, 170);
}

.navbar-brand {
    color: white;

}


/* Календарь и форма записи */
.mb-3 label {
    color: rgb(201, 162, 115);
}



/* sidebar */
.sidebar .card {
    background-color: black;
    position: relative;
    height: auto;
}

.sidebar .card-title {
    color: rgb(201, 162, 115);
}