.contacts-conteiner-back {
    border: 2px solid;
    border-radius: 5px;
    background-color: rgba(36, 36, 62, 0.5);
}

.map-container {
    border: 2px solid;
    border-radius: 5px;
    margin-left: 4em;
}

.contacts-conteiner {
    margin-left: 8em;
}

.contacts-conteiner .d-flex {

    flex-wrap: wrap;
    /* Позволяет иконкам обтекать */
    justify-content: center;
    /* Центрирует иконки по горизонтали */
}

.icon {
    display: flex;
    /* Для правильного размещения изображений */
    justify-content: center;
    /* Центрируем изображение внутри ссылки */
    align-items: center;
    /* Выравнивание по центру */
    margin: 0.5em;
    /* Отступы между иконками */
}

.d-flex>ol {
    flex: 1;
    /* Позволяет колонкам занимать равное пространство */
    margin-right: 0px;
    /* Отступ между колонками */
}

.d-flex>ol:last-child {
    margin-right: 0;
    /* Убираем отступ у последней колонки */
}