@font-face {
    font-family: "PIXY";
    src: url(fonts/PIXY.ttf);
    font-size: 12px;
}

body {
    font-family: PIXY;
    /* background: linear-gradient(0deg, #050505 0%, #707070 100%); */
    background: url(images/img_soc/PARALLAX_Test.png);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    z-index: 1;
}





p {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(201, 162, 115);

}

.navbar-brand.n-b {
    color: rgb(201, 162, 115);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(189, 47, 47);
}

.navbar-nav .nav-link.active {
    color: rgb(201, 162, 115);
}

.navbar-toggler {
    background-color: rgb(175, 170, 170);
}

.navbar-brand {
    color: white;

}



/* Главный новостной блог */
.col-sm-6 {
    padding-left: 0;
}

.col-sm-6 .card {
    background-color: black;
    border: 4px solid rgb(201, 162, 115);
    border-radius: 2px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.image-wrapper {
    width: 100%;
    height: 450px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.col-sm-6 .card-title {
    color: rgb(201, 162, 115);
}

.col-sm-6 .card-text {
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.btn-primary {
    background-color: rgb(135, 224, 239);
    color: rgb(36, 36, 62);
    border-color: rgb(155, 44, 135);

}

.btn-primary:hover {
    background-color: rgb(201, 162, 115);
    color: rgb(36, 36, 62);
    border-color: rgb(155, 44, 135);
}


.full-text {
    display: none;
}

.p-space {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 12px;
}

.sidebar .card {
    background-color: black;
    position: relative;
    height: auto;
}

.sidebar .card-title {
    color: rgb(201, 162, 115);
}


.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* пагинация */
.pagination {
    display: flex;
    justify-content: center;
    /* Центрируем элементы по горизонтали */
    margin-top: 20px;
    /* Отступ сверху для отделения от контента */

}

.page-item {
    margin: 0 5px;
}

.page-item .page-link {

    background-color: rgb(135, 224, 239);
    color: rgb(36, 36, 62);
    border: 2px solid rgb(155, 44, 135);
}

.page-item.active .page-link {
    background-color: rgb(201, 162, 115);
    color: rgb(36, 36, 62);
    border: 2px solid rgb(155, 44, 135);
}






@media (max-width: 755px) {
    .carousel {
        display: none;
    }

    .carousel-inner {
        display: none;
    }

    .col-sm-6.card {
        grid-template-columns: 1fr;
    }
}