@media (min-width: 768px) and (max-width: 1199px) {
    .map-container {
        width: 100%;
        height: 300px;
    }

    .map-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border: 1px solid;
    }

    .contacts-conteiner {
        margin-left: 0;
        margin-right: 0;
    }




}

@media (max-width: 768px) {
    .map-container {
        display: none;

    }

    .map-container.show {
        display: block;
        width: 100%;
        height: 100%;
    }

    .contacts-conteiner-back {
        border: 1px solid;
    }

    #toggleMap {
        display: block;
        z-index: 100;
    }

    .icon {
        margin: 0.2em;
        /* Уменьшаем отступы на мобильных устройствах */
    }

    .contacts-conteiner {
        margin-left: 0;
        margin-right: 0;
        padding: 0 1em;
    }





}