/* футер */


.social-icons {
  margin-top: 1.6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-img {
  border-radius: 10%;
  width: 54px;
  margin: 0.5em;
}

.footer-text a {
  color: #ffec01;
}

/* navbar */
.navbar-bg-color {
  background-color: rgba(36, 36, 62);
}

.footer-bg-color {
  background-color: rgba(36, 36, 62);
}

.navbar-brand.n-b {
  color: #ffec01;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #8f3583;
}

.navbar-nav .nav-link.active {
  color: #ffec01;
}

.navbar-toggler {
  background-color: rgba(36, 36, 62);
}

.navbar-brand {
  color: white;

}


/* sidebar */


.sidebar .card {
  background-color: rgba(36, 36, 62, 0.5);
  position: relative;
  height: auto;
}

.sidebar .card-title {
  color: #ffec01;
}