/* Стилизация скролл-панели */



/* Стили для WebKit браузеров */
::-webkit-scrollbar {
    width: 12px;
    /* Ширина вертикальной полосы прокрутки */
    height: 6px;
    /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: rgb(36, 36, 62);
    /* Цвет фона полосы прокрутки */
    border-radius: 1px;
    /* Скругление углов фона */
}

::-webkit-scrollbar-thumb {
    background: rgb(155, 44, 135);
    /* Цвет ползунка */
    border-radius: 10px;
    /* Скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(201, 162, 115);
    /* Цвет ползунка при наведении */
}



/* Стили для Firefox */
.scrollable {
    scrollbar-width: thin;
    /* Устанавливаем тонкую полосу прокрутки */
    scrollbar-color: rgb(155, 44, 135) rgb(36, 36, 62);
    /* Цвет ползунка и фона */
}