/* Календарь и форма записи */
.mb-3 label {
    color: rgb(201, 162, 115);
}

.contacts-conteiner-back {
    border: 0 solid;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(36, 36, 62, 0.5);
}




.footer-img-s {
    border-radius: 10%;
    width: 34px;
    margin: 0.5em;
}