@font-face {
    font-family: "PIXY";
    src: url(fonts/PIXY.ttf);
    font-size: 12px;
}

body {
    font-family: PIXY;
    /* background: linear-gradient(0deg, #050505 0%, #707070 100%); */
    background: url(images/img_soc/PARALLAX_Test.png);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    z-index: 1;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(201, 162, 115);
}

/* navbar */
.navbar-brand.n-b {
    color: rgb(201, 162, 115);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(189, 47, 47);
}

.navbar-nav .nav-link.active {
    color: rgb(201, 162, 115);
}

.navbar-toggler {
    background-color: rgb(175, 170, 170);
}

.navbar-brand {
    color: white;

}

/* sidebar */
.sidebar .card {
    background-color: black;
    position: relative;
    height: auto;
}

.sidebar .card-title {
    color: rgb(201, 162, 115);
}





/* phone/table */
@media (max-width: 755px) {

    .card-shop {
        grid-template-columns: 1fr;
    }
}