p {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(201, 162, 115);
}

/* navbar */
.navbar-brand.n-b {
    color: rgb(201, 162, 115);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(189, 47, 47);
}

.navbar-nav .nav-link.active {
    color: rgb(201, 162, 115);
}

.navbar-toggler {
    background-color: rgb(175, 170, 170);
}

.navbar-brand {
    color: white;

}

/* sidebar */
.sidebar .card {
    background-color: black;
    position: relative;
    height: auto;
}

.sidebar .card-title {
    color: rgb(201, 162, 115);
}





/* Галерея  */
.dropdown-menu {
    background: rgb(135, 224, 239);
    color: black;
}

.col-sm-6 .card {
    background-color: black;
}




.card-img-top {
    padding-top: 1em;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.col-sm-6 .card-title {
    color: rgb(201, 162, 115);
}

.p-space {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 12px;
}

/* карусели */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    pointer-events: auto;
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
    opacity: 0;
}

.carousel-inner img {
    width: 100%;
    /* Ширина 100% от родительского контейнера */
    height: 300px;
    /* Фиксированная высота, измените по необходимости */
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators li {
    background-color: rgb(135, 224, 239);
    /* Цвет для неактивных индикаторов */
    border-radius: 50%;
    list-style-type: none;
    border: 2px solid black;
}

.carousel-indicators .active {
    background-color: rgb(201, 162, 115);
    /* Цвет для активного индикатора */
    border-radius: 50%;
    list-style-type: none;
    border: 2px solid black;
}

/* пагинация */
.pagination {
    display: flex;
    justify-content: center;
    /* Центрируем элементы по горизонтали */
    margin-top: 20px;
    /* Отступ сверху для отделения от контента */

}

.page-item {
    margin: 0 5px;
}

.page-item .page-link {

    background-color: rgb(135, 224, 239);
    color: rgb(36, 36, 62);
    border: 2px solid rgb(155, 44, 135);
}

.page-item.active .page-link {
    background-color: rgb(201, 162, 115);
    color: rgb(36, 36, 62);
    border: 2px solid rgb(155, 44, 135);
}

/* phone/table */

@media (max-width: 755px) {

    .tattoo-card,
    .master-card {
        grid-template-columns: 1fr;
    }
}