/* Галерея  */
.btn-galelery {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-galelery .btn {
    margin: 10px;
}



#categoryDropdown {
    background: rgba(36, 36, 62, 0.9);
    border: 1px solid;
    width: 176px;
    color: #8f3583;
}

#categoryDropdown:hover {
    background: rgba(36, 36, 62, 0.9);
    border: 1px solid;
    width: 176px;
    color: #ffec00;
}

.dropdown-menu {
    background: rgba(36, 36, 62, 0.9);
    border: 1px solid;
    width: 176px;
    color: #ffec00;
}

.dropdown-menu a {
    color: #8f3583;
}

.dropdown-menu .dropdown-item:hover {
    background: #8f3583;
    background-color: #8f3583;
}

.dropdown-menu a:hover {
    color: #ffec00;
}


/* #8f3583;  #ffec00; */




.p-space {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 12px;
}