/* Галерея  */
.dropdown-menu {
    background: rgb(135, 224, 239);
    color: black;
}




.p-space {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 12px;
}

/* phone/table */

@media (max-width: 755px) {

    .tattoo-card,
    .master-card {
        grid-template-columns: 1fr;
    }
}