{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'shop.css' %}">
    <link rel="stylesheet" href="{% static 'bg.css' %}">
    <link rel="stylesheet" href="{% static 'scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'my_footer_css.css' %}">
    <title>Бьюсь Тату / Магазин</title>
</head>

<body>
    <div class="background"></div>

    <header>

        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand n-b active" href="#">БЬЮСЬ ТАТУ</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">ГЛАВНАЯ</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/address/">АДРЕС</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tattoo/">ТАТУИРОВКИ</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/session/">ЗАПИСЬ НА СЕАНС</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">МАГАЗИН</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>



    <section class="content">
        
    
        <!-- Шапка главной страницы -->
        <div class="bgimage mt-0">
            {% if header_image %}
                <img src="{{ header_image.image.url }}" alt="Шапка страницы главной">
            {% endif %}
        </div>

        <!-- Основа -->
        <div class="container-fluid mt-4">
            <div class="row">
                <!-- левая часть -->
                <div class="col-lg-1"></div>

                <!-- середина -->

                <div class="col-lg-8 col-md-12">
                    <div class="row">

                        <!-- Карточки товаров -->
                        <div class="col-lg-12 col-md-12 mt-4">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                    <div class="card">
                                        {% if product.images.first %}
                                        <div class="image-wrapper mt-2 md-2">
                                            <div id="carouselCard{{ product.id }}" class="carousel slide">
                                                <ol class="carousel-indicators">
                                                    {% for image in product.images.all %}
                                                    <li data-bs-target="#carouselCard{{ product.id }}" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                                                    {% endfor %}
                                                </ol>
                                                <div class="carousel-inner">
                                                    {% for image in product.images.all %}
                                                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ product.title }}">
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCard{{ product.id }}" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselCard{{ product.id }}" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                            
                                        </div>
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ product.title }}</h5>
                                            <p class="card-text">Цена: {{ product.price }} ₽</p>
                                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal{{ product.id }}">Узнать больше</a>
                                        </div>
                                </div>

                                <!-- Модальное окно для товара -->
                                <div class="modal fade mt-4" id="productModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content modal-card-text modal-css">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="productModalLabel">{{ product.title }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <!-- Карусель изображений -->
                                                        <div id="carouselExample{{ product.id }}" class="carousel slide"> 
                                                            <ol class="carousel-indicators">
                                                                {% for image in product.images.all %}
                                                                <li data-bs-target="#carouselExample{{ product.id }}" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                                                                {% endfor %}
                                                            </ol>
                                                            <div class="carousel-inner">
                                                                {% for image in product.images.all %}
                                                                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ product.title }}">
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{ product.id }}" data-bs-slide="prev">
                                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                <span class="visually-hidden">Previous</span>
                                                            </button>
                                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{ product.id }}" data-bs-slide="next">
                                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                <span class="visually-hidden">Next</span>
                                                            </button>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ product.description|linebreaks }}</p>
                                                        <p>Цена: {{ product.price }} ₽</p>
                                                        <h6>Контакты продавца:</h6>
                                                        {% for contact in product.seller_contacts %}
                                                            <p>{{ contact.contact_type }}: {{ contact.value }}</p>
                                                        {% empty %}
                                                            <p>Контактная информация отсутствует.</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        
                        
                        <!-- Пагинация -->
                        <div class="row">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if products.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link" aria-hidden="true">&laquo;</span>
                                        </li>
                                    {% endif %}
                        
                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">{{ i }}</span>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                        
                                    {% if products.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link" aria-hidden="true">&raquo;</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>


                <!-- правая часть -->
                <div class="col-lg-3 col-md-12">
                    <div class="row px-2">
                        <!-- сайдбар -->
                        <div class="col-lg-12 sidebar my-4">
                            {% for news in sidebar_news %}
                            <div class="card my-4">
                                <div class="card-body">
                                    <h5 class="card-title">{{ news.title }}</h5>
                                    <p class="card-text">{{ news.content }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
         
    </section>

    

    <footer class="mt-4 mb-0 bg-dark footer-css">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-12 footer-text text-center" style="font-size: 16px; padding-top: 1em;">
                    <p>All Rights Reserved 2024</p>
                    <p class="mb-0" style="font-size: 14px;">БЬЮСЬ ТАТУ-СТУДИЯ</p>
                    <p class="mt-0" style="font-size: 14px;">г.Калининград, ул.Карла Маркса, д.39</p>
                    <p style="font-size: 10px;">Created by gostok</p>
                </div>
                <div class="col-lg-4 col-md-12 footer-text text-center mt-4">
                    <p>
                        <a href="#">Contacts</a> <br>
                        <a href="#">Job</a> <br>
                        <a href="#">Our Team</a> <br>
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 media-links">
                    <div class="social-icons">
                        <a href="#">
                            <img class="footer-img" 
                                src="{% static 'images/img_soc/inst.png' %}" alt="Instagram">
                        </a>
                        <a href="#">
                            <img class="footer-img" 
                                src="{% static 'images/img_soc/tg.png' %}" alt="Telegram">
                        </a>
                        <a href="#">
                            <img class="footer-img"  src="{% static 'images/img_soc/vk.png' %}"
                                alt="vk">
                        </a>
                        <a href="#">
                            <img class="footer-img" 
                                src="{% static 'images/img_soc/wa.png' %}" alt="WhatsApp">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>

    <script>
            document.addEventListener('DOMContentLoaded', function() {
                const paginationLinks = document.querySelectorAll('.pagination .page-link');
        
                paginationLinks.forEach(link => {
                    link.addEventListener('click', function(e) {
                        // Сохраняем текущую позицию прокрутки в sessionStorage
                        sessionStorage.setItem('scrollPosition', window.scrollY);
                    });
                });
        
                const scrollPosition = sessionStorage.getItem('scrollPosition');
                if (scrollPosition) {
                    window.scrollTo(0, parseInt(scrollPosition));
                    sessionStorage.removeItem('scrollPosition');  }
            });
    </script>
    <script>
        function toggleText(button) {
            const cardText = button.previousElementSibling; // Элемент p с классом card-text
            const previewText = cardText.querySelector('.preview-text');
            const fullText = cardText.querySelector('.full-text');

            if (fullText.style.display === 'none') {
                previewText.style.display = 'none';
                fullText.style.display = 'inline';
                button.innerHTML = 'Скрыть';
            } else {
                previewText.style.display = 'inline';
                fullText.style.display = 'none';
                button.innerHTML = 'Узнать больше';
            }
        }
    </script>


</body>

</html>